<app-navbar />
<div *ngIf="getLanguage() === 'es'" class="about-me-main-container">
  <div class="about-me-container">
    <p>
      <span>&#8220;</span>¡Hola! Soy Jesús, un entusiasta de la programación, el deporte y la
      música con un enfoque hacia la creación y la innovación. A mis 30 años,
      encuentro la inspiración en la fusión de mundos aparentemente dispares: el
      código que construye el mundo digital y la música que despierta emociones.
    </p>
    <p>
      Me sumergí en el mundo del desarrollo web en el año 2022 como full stack,
      pero especializándome en la parte Front-end durante este último año y
      desde entonces he estado inmerso en ciertos proyectos que me han permitido
      expandir mis habilidades. Estos proyectos han sido mi campo de
      entrenamiento, donde he aprendido a traducir ideas creativas en
      experiencias digitales al agrado del usuario.
    </p>
    <p>
      Entre mis habilidades se encuentran la creatividad para resolver
      problemas, el trabajo en equipo y ser una persona bastante proactiva,
      capaz de adaptarse a cualquier situación que se presente, siempre tratando
      de mantener una comunicación que facilite la colaboración, tanto con mis
      compañeros como con el cliente.
    </p>
    <p>
      Mi motivación reside en la resolución de problemas y la creación de
      contenido significativo. No solo disfruto construyendo páginas web
      interactivas, sino que también encuentro una pasión similar en la
      producción musical. Para mí, estos son canales creativos que me permiten
      expresar ideas y emociones de manera única.
    </p>
    <p>
      Creo firmemente en la perseverancia, el trabajo duro y el compromiso.
      Busco constantemente aprender y crecer, abrazando cada desafío como una
      oportunidad para mejorar. Mi enfoque se basa en la innovación, la
      autenticidad y la colaboración, valores que impulso en cada proyecto en el
      que participo.
    </p>
    <p>
      Siempre estoy emocionado por explorar nuevas oportunidades y proyectos. Si
      buscas un desarrollador comprometido, creativo y apasionado, estoy aquí
      para contribuir con mi experiencia y entusiasmo.<span>&#8221;</span>
    </p>
  </div>
  <div class="about-me-img-container">
    <img
      class="ilustration-img first-ilustration"
      src="../../../assets/images/ilustration1.svg"
      alt="ilustration1"
    />
    <img
      class="ilustration-img second-ilustration"
      src="../../../assets/images/ilustration2.svg"
      alt="ilustration2"
    />
  </div>
</div>
<div *ngIf="getLanguage() === 'en'" class="about-me-main-container">
  <div class="about-me-container">
    <p>
      <span>&#8220;</span>Hello! I am Jesús, an enthusiast of programming, sports, and music, with a
      focus on creation and innovation. At my 30 years old, I find inspiration in
      the fusion of seemingly disparate worlds: the code that builds the digital
      world and the music that evoke emotion.
    </p>
    <p>
      I have immersed myself in the web development world since 2022 as a full stack,
      but specialising in the Front-end during this year. Since then, I have
      been immersed in certain projects that have allowed me to expand my
      skills. These projects have been my training ground, where I have learned to
      translate creative ideas into digital experiences that please the user.
    </p>
    <p>
      Among my skills are creativity in problem-solving, teamwork, and being a
      proactive person who can adapt to any situation that arises, always trying
      to maintain communication that facilitates collaboration, both with my
      colleagues and with the client.
    </p>
    <p>
      My motivation lies in problem-solving and creating meaningful content. I
      not only enjoy building interactive web pages but also find a similar
      passion in music production. For me, these are creative channels that
      allow me to express ideas and emotions uniquely.
    </p>
    <p>
      I firmly believe in perseverance, hard work and commitment. I am
      constantly seeking to learn and grow, embracing every challenge as an
      opportunity to improve. My approach is based on innovation, authenticity
      and collaboration, values that I drive in every project I participate in.
    </p>
    <p>
      I am always excited to explore new opportunities and projects. If you're
      looking for a committed, creative and passionate developer, I am here to
      contribute with my experience and enthusiasm.<span>&#8221;</span>
    </p>
  </div>
  <div class="about-me-img-container">
    <img
      class="ilustration-img first-ilustration"
      src="../../../assets/images/ilustration1.svg"
      alt="ilustration1"
    />
    <img
      class="ilustration-img second-ilustration"
      src="../../../assets/images/ilustration2.svg"
      alt="ilustration2"
    />
  </div>
</div>
<app-footer />
