<app-navbar />
<div class="about-me-main-container">
  <div class="about-me-container">
    <p>
      "¡Hola! Soy Jesús, un entusiasta de la programación, el deporte y la música con un enfoque hacia la creación y la innovación. A mis 30 años, encuentro la inspiración en la fusión de mundos aparentemente dispares: el código que construye el mundo digital y la música que despierta emociones.
    </p>

    <p>
      Me sumergí en el mundo del desarrollo web en el año 2022 como full stack, pero especializándome en la parte Front-end durante este último año y desde entonces he
      estado inmerso en ciertos proyectos que me han permitido expandir mis
      habilidades. Estos proyectos han sido mi campo de entrenamiento, donde he
      aprendido a traducir ideas creativas en experiencias digitales al agrado
      del usuario.
    </p>

    <p>
      Entre mis habilidades se encuentran la creatividad para resolver
      problemas, el trabajo en equipo, siendo una
      persona bastante proactiva que sabe adaptarse a cualquier situación que se
      presente tratando siempre de mantener una comunicación que facilite
      la colaboración tanto con mis compañeros, como con el cliente.
    </p>

    <p>
      Mi motivación reside en la resolución de problemas y la creación de
      contenido significativo. No solo disfruto construyendo páginas web
      interactivas, sino que también encuentro una pasión similar en la
      producción musical. Para mí, estos son canales creativos que me permiten expresar ideas y emociones de manera única.
    </p>

    <p>
      Creo firmemente en la perseverancia, el trabajo duro y el compromiso.
      Busco constantemente aprender y crecer, abrazando cada desafío como una
      oportunidad para mejorar. Mi enfoque se basa en la innovación, la
      autenticidad y la colaboración, valores que impulso en cada proyecto en el
      que participo.
    </p>

    <p>
      Siempre estoy emocionado por explorar nuevas oportunidades y proyectos. Si
      buscas un desarrollador comprometido, creativo y apasionado, estoy aquí
      para contribuir con mi experiencia y entusiasmo."
    </p>
  </div>
  <div class="about-me-img-container">
    <img class="ilustration-img first-ilustration" src="../../../assets/images/ilustration1.svg" alt="ilustration1">
    <img class="ilustration-img second-ilustration" src="../../../assets/images/ilustration2.svg" alt="ilustration2">
  </div>
</div>
<app-footer />
