<app-navbar />
<!-- Contenido en español -->
<div id="header" *ngIf="getLanguage() === 'es'" class="home-container">
  <div class="sticky-anchor"></div>
  <header class="">
    <div class="header-main-container container-fluid">
      <div class="row header-container justify-content-between">
        <div class="col-lg-2 header-title-container">
          <p class="p-header-title">Hola, soy</p>
          <h1 class="h1-header-title">Jesús Villalón</h1>
          <h5 class="h5-header-title">Desarrollador Frontend.</h5>
        </div>
        <div class="col-lg-11 img-container">
          <img
            class="profile-img"
            src="../../../assets/images/profile-img.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="hardSkills-section">
      <h2 class="text-center">Tecnologías:</h2>
      <div class="hardSkills-main-container">
        <div *ngFor="let image of hardSkillsImg" class="hard-skills-container">
          <img
            class="hardSkillsImg"
            [src]="'../../../assets/logos/' + image.img"
            alt="hardSkills-logos"
          />
          <h6 class="hardSkillsTitle">{{ image.name }}</h6>
        </div>
      </div>
    </section>
    <section class="otheSkills-section">
      <h3 class="text-center mt-5">Otras tecnologías:</h3>
      <div class="otheSkills-main-container">
        <div class="other-skills-container">
          <img
            class="otherSkillsImg"
            src="../../../assets/logos/ableton.svg"
            alt="ableton-logo"
          />
          <h6 class="otherSkillsTitle">Ableton Live</h6>
        </div>
        <div class="other-skills-container">
          <img
            class="otherSkillsImg"
            src="../../../assets/logos/fl-studio.png"
            alt="flStudio-logo"
          />
          <h6 class="otherSkillsTitle">FL Studio</h6>
        </div>
      </div>
    </section>
    <section class="cv-section">
      <div class="cv-main-container ">
        <h4 class="text-center mt-5">Aquí puedes obtener mi CV:</h4>
        <div class="d-flex justify-content-center mt-5">
          <button class="cv-button">
            <a class="cv-link" href="../../../assets/curriculum/cv-Jesús.pdf" download="cv-Jesús.pdf" target="_blank">Descargar CV</a>
          </button>
        </div>
      </div>
    </section>
  </main>
</div>
<!-- Contenido en inglés -->
<div id="header" *ngIf="getLanguage() === 'en'" class="home-container">
  <div class="sticky-anchor"></div>
  <header class="">
    <div class="header-main-container container-fluid">
      <div class="row header-container justify-content-between">
        <div class="col-lg-2 header-title-container-en">
          <p class="p-header-title">Hello, I am</p>
          <h1 class="h1-header-title">Jesús Villalón</h1>
          <h5 class="h5-header-title">Frontend Developer.</h5>
        </div>
        <div class="col-lg-11 img-container">
          <img
            class="profile-img"
            src="../../../assets/images/profile-img.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="hardSkills-section">
      <h2 class="text-center">Tecnologies:</h2>
      <div class="hardSkills-main-container">
        <div *ngFor="let image of hardSkillsImg" class="hard-skills-container">
          <img
            class="hardSkillsImg"
            [src]="'../../../assets/logos/' + image.img"
            alt=""
          />
          <h6 class="hardSkillsTitle">{{ image.name }}</h6>
        </div>
      </div>
    </section>
    <section class="otheSkills-section">
      <h3 class="text-center mt-5">Other tecnologies:</h3>
      <div class="otheSkills-main-container">
        <div class="other-skills-container">
          <img
            class="otherSkillsImg"
            src="../../../assets/logos/ableton.svg"
            alt="ableton-logo"
          />
          <h6 class="otherSkillsTitle">Ableton Live</h6>
        </div>
        <div class="other-skills-container">
          <img
            class="otherSkillsImg"
            src="../../../assets/logos/fl-studio.png"
            alt="flStudio-logo"
          />
          <h6 class="otherSkillsTitle">FL Studio</h6>
        </div>
      </div>
    </section>
    <section class="cv-section">
      <div class="cv-main-container">
        <h4 class="text-center mt-5">Here you can get my CV:</h4>
        <div class="d-flex justify-content-center mt-5">
          <button class="cv-button">
            <a class="cv-link" href="../../../assets/curriculum/english-cv-Jesús.pdf" download="english-cv-Jesús.pdf" target="_blank">Download CV</a>
          </button>
        </div>
      </div>
    </section>
  </main>
</div>
<app-footer />
