.home-container {
  width: 100%;
}
header {
  position: sticky;
  z-index: 1;
  top: 65px;
}
.sticky-anchor {
  height: 66px;
}
.header-main-container {
  background-image: url(../../../assets/images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  position: relative;
  @media only screen and (min-width: 768px) and (orientation: landscape) {
    height: 100vh;
  }
  @media (min-width: 1024px) {
    height: 68vh;
  }

}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.header-title-container,
.header-title-container-en {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.801);
  color: black;
  padding: 20px;
  width: 320px;
  height: fit-content;
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    width: 380px;
    top: 80px;
    left: 50px;
    padding: 40px;
  }
  @media (min-width: 1024px) {
    width: 600px;
    top: 150px;
    left: 150px;
    padding: 40px 40px 40px 50px;
  }
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    width: 550px;
    top: 80px;
    left: 50px;
    padding: 20px;
  }
  @media (min-width: 1920px) {
    width: 660px;
    top: 250px;
    left: 450px;
    padding: 60px 40px 60px 80px;
  }
}

.h1-header-title {
  @media (min-width: 1024px) {
    font-size: 60px;
  }
}
.p-header-title {
  @media (min-width: 1024px) {
    font-size: 25px;
  }
}
.h5-header-title {
  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

.img-container {
  filter: drop-shadow(4px 0px 2px rgba(0, 0, 0, 0.457));
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  @media (min-width: 520px) {
    justify-content: flex-end;
  }
  @media (min-width: 1920px) {
    right: 400px;
  }
}
.profile-img {
  width: 300px;
  @media (min-width: 768px) {
    width: 400px;
  }
  @media (min-width: 1024px) {
    width: 600px;
  }
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    width: 400px;
  }
  @media (min-width: 1920px) {
    width: 900px;
  }
}

main {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(77, 77, 77, 1) 100%
  );
  height: fit-content;
  color: white;
  position: relative;
  z-index: 2;
  padding: 50px 0;
}
.hardSkills-main-container, .otheSkills-main-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}
.otheSkills-main-container{
  gap: 30px;
}
.hardSkillsImg, .otherSkillsImg {
  background-color: rgba(255, 255, 255, 0.406);
  border-radius: 5px;
  padding: 2px;
  width: 50px;
  margin: 15px;
  @media (min-width: 768px) {
    width: 60px;
  }
  @media (min-width: 1024px) {
    width: 70px;
  }
  @media (min-width: 1920px) {
    width: 100px;
  }
}
.hardSkillsTitle {
  font-size: 14px;
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.cv-button{
  background:#715c5c;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  @media (min-width: 768px){
    height: 80px;
  }
}
.cv-button:hover{
  background:#fff;
  color:#715c5c;
}
.cv-button:before,.cv-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:3.5px;
  width:0;
  background: #715c5c;
  transition:400ms ease all;
}
.cv-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.cv-button:hover:before,.cv-button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.cv-link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.cv-button:hover .cv-link{
  color: black;
}
