.navbar {
  background-color: rgb(212, 208, 205);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.487);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 5px 0px;
  @media (min-width: 1024px) {
    padding: 10px 50px;
  }
}
.navbar-nav{
  margin: 15px 0;
}
.nav-link {
  cursor: pointer;
  color: black;
}
.img-logo{
  width: 50px;
  mix-blend-mode: color-burn;
  object-fit: contain;
  @media (min-width: 768px) {
    width: 80px;
  }
}
#checkbox {
  display: none;
}
.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 90%;
  height: 4px;
  background-color: rgb(67, 67, 67);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 90%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* boton cambio de idioma */
.custom-button {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #715c5c;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  transition: background 0.2s ease;
  border-radius: 5px;
  overflow: hidden;
}

.custom-button.es-button {
  background: #2c2c2c;
}


.custom-button:active {
  background:  #715c5c;

}

.button-text {
  position: relative;
  z-index: 1;
}

.custom-button::before,
.custom-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: transform 1s ease;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.custom-button::before {
  left: 0;
  background: #715c5c;
  content: attr(data-tg-off);
  border-radius: 5px;
}

.custom-button::after {
  right: 0;
  background: #2c2c2c;
  content: attr(data-tg-on);
  opacity: 0;
  border-radius: 5px;
}

.custom-button.es-button::before {
  opacity: 0;
}

.custom-button.es-button::after {
  opacity: 1;
}
