<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        class="img-logo"
        src="../../../../assets/images/jv-logo.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <input type="checkbox" id="checkbox" />
      <label for="checkbox" class="toggle">
        <div class="bars" id="bar1"></div>
        <div class="bars" id="bar2"></div>
        <div class="bars" id="bar3"></div>
      </label>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="navbarTogglerDemo02"
    >
      <ul class="navbar-nav nav-underline">
        <ng-container *ngFor="let item of menuItems">
          <ng-container *ngIf="getLanguage() === item.language">
            <li class="nav-item" *ngFor="let link of item.links">
              <a class="nav-link" [routerLink]="[link.route]">{{
                link.title
              }}</a>
            </li>
            <li class="nav-item" *ngIf="getLanguage() === 'es'">
              <a class="nav-link" href="#contact">Contacto</a>
            </li>
            <li class="nav-item" *ngIf="getLanguage() === 'en'">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <button
        (click)="changeLanguage()"
        class="custom-button mb-3 ms-lg-3 mb-lg-0"
        [ngClass]="{
          'es-button': getLanguage() === 'es',
          'en-button': getLanguage() === 'en'
        }"
      >
        <span class="button-text">{{ getButtonText() }}</span>
      </button>
    </div>
  </div>
</nav>
