<footer id="contact" class="footer-main-container">
  <div class="footer-container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="row">
          <div class="d-flex align-items-center col-lg-6">
            <img class="footer-img" src="../../../../assets/logos/phone.svg" alt="phone">
            <p class="p-container ms-2 mt-3">+34-692810091</p>
          </div>
          <div class="d-flex align-items-center col-lg-6">
            <img class="footer-img" src="../../../../assets/logos/email.png" alt="email">
            <p class="p-container ms-2 mt-3">villalongallardo92@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a class="link-container d-flex align-items-center" href="https://github.com/jesusvillalon">
            <img class="footer-img" src="../../../../assets/logos/github.svg" alt="phone">
            <p class="p-container ms-2 mt-3">Repositorios</p>
          </a>
          </div>
          <div class="col-lg-6">
            <a class="link-container d-flex align-items-center " href="https://www.linkedin.com/in/jesus-villalon/">
            <img class="footer-img" src="../../../../assets/logos/linkedin.svg" alt="email">
            <p class="p-container ms-2 mt-3">Linkedin</p>
          </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <app-contact/>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="copyright-content">
      <h5>&#169; Jesús Villalón 2023</h5>
    </div>
    <div class="buttonUp me-5">
    <a class="up-button" href="#header">
      <button class="btn">&#8679;</button>
    </a>
  </div>
  </div>
</footer>
