<footer id="contact" class="footer-main-container">
  <div class="container-fluid">
    <div class="row footer-container justify-content-evenly">
      <div class="col-sm-12 col-xl-5 contact-left-container">
        <div class="row mb-lg-5">
          <div class="col-md-6 d-flex align-items-center">
            <img
              class="footer-img"
              src="../../../../assets/logos/phone.svg"
              alt="phone"
            />
            <p class="p-container ms-2 mt-3">+34-692810091</p>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <img
              class="footer-img"
              src="../../../../assets/logos/email.svg"
              alt="email"
            />
            <p class="p-container ms-2 mt-3">villalongallardo92@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div *ngIf="getLanguage() === 'es'" class="col-md-6">
            <a
              class="link-container d-flex align-items-center"
              href="https://github.com/jesusvillalon"
            >
              <img
                class="footer-img"
                src="../../../../assets/logos/github.svg"
                alt="phone"
              />
              <p class="p-container ms-2 mt-3">Repositorios</p>
            </a>
          </div>
          <div *ngIf="getLanguage() === 'en'" class="col-md-6">
            <a
              class="link-container d-flex align-items-center"
              href="https://github.com/jesusvillalon"
            >
              <img
                class="footer-img"
                src="../../../../assets/logos/github.svg"
                alt="phone"
              />
              <p class="p-container ms-2 mt-3">Repositories</p>
            </a>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a
              class="link-container d-flex align-items-center"
              href="https://www.linkedin.com/in/jesus-villalon/"
            >
              <img
                class="footer-img"
                src="../../../../assets/logos/linkedin.svg"
                alt="email"
              />
              <p class="p-container ms-2 mt-3">Linkedin</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-5 contact-right-container px-4">
        <app-contact />
      </div>

      <div class="col-12 contact-bottom-container">
        <div class="copyright-content">
          <h5>&#169; 2023 Jesús Villalón</h5>
        </div>
        <div class="buttonUp">
          <a class="up-button" (click)="scrollToTop()">
            <button class="btn">&#8679;</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
